<template>
  <div class="card topMargin">
    <div class="card-body">
      <div class="row">
        <span class="col">
          <span class="rightMargin pull-right">
            <i click.trigger="logout()"  class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
          </span>
          <span class=" rightMargin pull-right">
            <i click.trigger="createPic()"  class="fa fa-plus fa-lg" aria-hidden="true"></i>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="row" show.bind="pics.picsArray.length">
    <div class="col-3" repeat.for = "pic of pics.picsArray">
      <img src="http://localhost:5000/uploads/${user._id}/${pic.file.filename}" class="img-fluid">
      <strong>${pic.name}</strong>
    </tr>
  </div>
  <div show.bind="!pics.picsArray.length">
    <h2>Apparently, you don't have Pics on your gallery!</h2>
  </div>
</template>